

.site-container2
{
   justify-content:center; 
  /* min-height: 100dvh; */
  height:100dvh;
}


.outlet-style2
{
   min-height:400px;
    overflow: auto;
    background-color: #FFFAF0 /* floral white */ ;
    margin:0 auto;
    min-width:80%;
    padding-bottom:0;
    align-content: center;
}