
.reg-label-font
{
    font-size:16px;
}

@media  (min-width:300px) and  (max-width: 400px) 
{
    
    .reg-label-font
    {
        font-size:15px;
    }

}

@media  (min-width:401px) and (max-width: 767px) 
{
     .reg-label-font
    {
        font-size:16px;
    }
}

@media (min-width:767px) and  (max-width: 911px) 
{
    .reg-label-font
    {
        font-size:17px;
    }
}

@media (min-width:912px) and  (max-width: 1023px) 
{
    .reg-label-font
    {
        font-size:17px;
    }
}

@media (min-width:1024px) and (max-width:1100px) 
{
     .reg-label-font
    {
        font-size:18px;
    }
}