.site-container
{
    background: linear-gradient(45deg,#357EC7,#F2F0DF,#488AC7, #FFFAF0 ); /* #488AC7 */
    display:flex;
    flex-direction:column;
    justify-content:center;
    min-height: 100dvh;
    overflow: auto;
    padding:3px;
}

/* Override the tooltip background, color, and padding */
.MuiTooltip-tooltip {
  background-color:#A70D2A !important;
  color: white !important;
    min-height: 30px;
  display: flex !important;        /* flexbox layout */
  align-items: center !important;  /* vertical centering */
   font-size: 12px !important;
   font-weight:bold !important;
   width:150px
}

/* Override the arrow color to match tooltip background */
.MuiTooltip-arrow {
  color: #A70D2A !important;
}

.outlet-style
{
    min-height: 85dvh;
    overflow: auto;
    background-color: #FFFAF0 /* floral white */ ;
    margin:0 auto;
    min-width:80%;
}


@media (max-height: 850px) {
   .outlet-style
   {
        margin-bottom:20px;
   }
}
