.site-container
{
    background: linear-gradient(45deg,#357EC7,#F2F0DF,#488AC7, #FFFAF0 ); /* #488AC7 */
    display:flex;
    flex-direction:column;
    justify-content:center;
    min-height: 100dvh;
    overflow: auto;
    padding:3px;
}


.outlet-style
{
    min-height: 85dvh;
    overflow: auto;
    background-color: #FFFAF0 /*#E9E4D4*/ ;
    margin:0 auto;
    min-width:80%;
}


@media (max-height: 850px) {
   .outlet-style
   {
        margin-bottom:20px;
   }
}
