
 
.site-container
{
   min-height: 100dvh;
    background: linear-gradient(45deg,#357EC7,#E0FFFF,#488AC7, #FFFAF0 ); /* #E0FFFF *#F0F8FF, #F2F0DF */
    display:flex;
    flex-direction:column;
   /* justify-content:center;  */
   /* min-height: 100dvh;  */
    overflow: hidden;
    padding:3px;
}


/* Override the tooltip background, color, and padding */
.MuiTooltip-tooltip {
  background-color:#A70D2A !important;
  color: white !important;
    min-height: 30px;
  display: flex !important;        /* flexbox layout */
  align-items: center !important;  /* vertical centering */
   font-size: 12px !important;
   font-weight:bold !important;
   width:150px
}

/* Override the arrow color to match tooltip background */
.MuiTooltip-arrow {
  color: #A70D2A !important;
}

.MuiDataGrid-root {
  min-height: 400px; /* stable height until data loads */
}

.outlet-style
{
   height: 100%;
    overflow: hidden;
    background-color: #FFFAF0 /* floral white */ ;
    margin:0 auto;
    min-width:80%;
    padding-bottom:20px;
    align-content: center;
   
}

@media (min-width: 768px) {
  .outlet-style
  {
    width:80%;
  }
}

@media (max-width: 360px) {
  .outlet-style
  {
    margin:0;
  }
}


@media (max-height: 850px) {
   .outlet-style
   {
        margin-bottom:20px;
   }
}
